<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to the Shop</h1>
    <form method="get" action="{% url 'item-view' %}">
        <label for="search">Search:</label>
        <input type="text" name="q" id="search" value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <hr>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.desc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>