{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Login Form -->
            <form method="post">
                {% csrf_token %}
                <h2 class="mb-3">Login</h2>
                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="loginEmail" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" name="loginPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>

        <div class="col-md-6">
            <!-- Registration Form -->
            <form method="post" action="{% url "register" %}">
                {% csrf_token %}
                {% if message %}
                <div class="alert alert-{{class}}">{{message}}</div>

                {% endif %}
                <h2 class="mb-3">Register</h2>
                <div class="mb-3">
                    <label for="registerName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" name="registerName" required>
                </div>
                <div class="mb-3">
                    <label for="registerEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="registerEmail" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                    <label for="phonenumber" class="form-label">Phone Number</label>
                    <input type="number" class="form-control" name="phonenumber" required> 
                </div>
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}